// barra iniziale
.container {
  @include sizeContainer();
  header {
    background-color: white;
    color: $fontColor;
    border-bottom: $borderStyle $fontColor;
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 86%;
    padding: 15px;
  }
  .info {
    display: flex;
    a {
      padding: 10px;
      margin-right: 10px;
    }
    button {
      @include otherButtonProp();
    }
  }
}
