// parte iniziale
.header-fixed { //inizio navbar che appare con javascript
 @include header();
 position: fixed;
 top: 0;
 width: 100%;
 padding: 12px 90px 5px;
 display: none;
  .info2 {
    display: flex;
    a {
      @include infoNav();
    }
  }
  button {
    @include buttonProperty($buttonColor);
    margin-top: 0px;
  }
} //fine navbar che appare con javascript
.container { //inizio navbar che si nota all'inizio e poi viene nascosta
  @include sizeContainer();
  .header-top {
    @include header();
    .info {
      display: flex;
      a {
        @include infoNav();
      }
    }
    button {
      @include otherButtonProp();
    }
  }
}
.chat { //pulsante chat fisso in basso
  border-radius: 50%;
  background-color: $buttonColor;
  color: white;
  width: 60px;
  height: 60px;
  border: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 15px;
  right: 15px;
  .fas {
    font-size: 30px;
    margin: 0 auto;
    padding: 17px 10px;
  }
}
