//parte centrale
main {
  display: flex;
  flex-direction: column;
  .jumbo-container {
    display: flex;
  }
  .jumbo-img {
    width: 50%;
    margin: 150px 0 100px 0;
  }
  .jumbo {
    @extend .jumbo-img;
    font-size: 25px;
    line-height: 1.4;
    margin-right: 50px;
  }
  .main_img {
    width: 100%;
  }
  .google {
    @include buttonProperty();
  }
  .slack {
    @extend .google;
  }
  span {
    font-size: 15px;
    padding: 10px;
    color: lightgrey;
  }
  a {
    @extend span;
    color: $fontColor;
  }
}
.jumboPink {
  display: flex;
  flex-direction: column;
  background-color: #FFE7D2;
  align-items: center;
  .title {
    width: 730px;
    text-align: center;
    line-height: 1.4;
    h2 {
      padding: 70px 100px 0;
    }
  }
}
.threeBlockContainer {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    .BlockImg-container {
      width: 250px;
      height: 150px;
      padding-top: 15px;
      img {
        display: block;
        height: 140px;
        padding: 20px;
        margin: 0 auto;
      }
    }
    .text {
      width: 160px;
      line-height: 1.4;
      text-align: center;
    }
  }
}
