//parte centrale
main {
  display: flex;
  flex-direction: column;
  .jumbo-container {
    display: flex;
  }
  .jumbo-img {
    width: 50%;
    margin: 150px 0 100px 0;
  }
  .jumbo {
    @extend .jumbo-img;
    font-size: 25px;
    line-height: 1.4;
    margin-right: 50px;
  }
  .main_img {
    width: 100%;
  }
  .google {
    @include buttonProperty();
  }
  .slack {
    @extend .google;
  }
  span {
    font-size: 15px;
    padding: 10px;
    color: grey;
  }
  a {
    @extend span;
    color: $fontColor;
  }
}
.jumboPink {
  display: flex;
  background-color: #FFE7D2;
  justify-content: center;
  padding: 50px 100px;
}
