//variabili e mixin
$buttonColor: #30488F;
$fontColor: #58402C;
$backgroundColor: #FFE7D2;
$borderStyle: 1px solid ;
$borderRadius: 7px;
$lineHeight: 1.6;
@mixin header() { //setta le proprietà dell'header
  background-color: white;
  color: $fontColor;
  border-bottom: $borderStyle $fontColor;
  display:flex;
  justify-content: space-between;
  padding: 20px 15px;
}
@mixin infoNav() { //setta le proprietà delle a del menu all'interno dell'header
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
}
@mixin buttonProperty($color) { //setta le proprietà dei pulsanti blu
  border-radius: $borderRadius;
  background-color: $color;
  color: white;
  border-style: none;
  padding: 5px 15px;
  margin-top: 30px;
}
@mixin div(){ //setta un'intero div con i pulsanti e tutto il resto
  .google {
    @include buttonProperty($buttonColor);
  }
  .slack {
    @extend .google;
  }
  span {
    font-size: 15px;
    padding: 10px;
    color: #bdb5af;
  }
}
@mixin otherButtonProp() { //setta le proprietà dei pulsanti diversi da quelli blu
  border-color: $buttonColor;
  color: $buttonColor;
  border-radius: $borderRadius;
  background-color: transparent;
  padding: 5px 10px;
}
@mixin sizeContainer() { //setta le dimensioni di un contenitore
  width: 86%;
  margin: 0 7% 0 7%;
}
