* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #58402C;
}

a:hover {
  color: #30488F;
}

body {
  color: #58402C;
}

button {
  cursor: pointer;
}

.container {
  width: 86%;
  margin: 0 7% 0 7%;
}

.container header {
  background-color: white;
  color: #58402C;
  border-bottom: 1px solid #58402C;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 86%;
  padding: 15px;
}

.container .info {
  display: -webkit-box;
  display: flex;
}

.container .info a {
  padding: 10px;
  margin-right: 10px;
}

.container .info button {
  border-color: #30488F;
  color: #30488F;
  border-radius: 7px;
  background-color: transparent;
  padding: 5px 15px;
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

main .jumbo-container {
  display: -webkit-box;
  display: flex;
}

main .jumbo-img,
main .jumbo {
  width: 50%;
  margin: 150px 0 100px 0;
}

main .jumbo {
  font-size: 25px;
  line-height: 1.4;
  margin-right: 50px;
}

main .main_img {
  width: 100%;
}

main .google,
main .slack {
  border-radius: 7px;
  background-color: #30488F;
  color: white;
  border-style: none;
  padding: 10px 15px;
  margin-top: 30px;
}

main span,
main a {
  font-size: 15px;
  padding: 10px;
  color: lightgrey;
}

main a {
  color: #58402C;
}

.jumboPink {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #FFE7D2;
  -webkit-box-align: center;
          align-items: center;
}

.jumboPink h2 {
  padding: 70px 100px;
}

.threeBlockContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.threeBlockContainer .block1,
.threeBlockContainer .block3,
.threeBlockContainer .block2 {
  display: -webkit-box;
  display: flex;
}

.threeBlockContainer .block1 img,
.threeBlockContainer .block3 img,
.threeBlockContainer .block2 img {
  padding: 50px;
  margin: 20px;
  width: 250px;
  height: 200px;
}

